nav.flaticon img {
    width: 60px;
}

@font-face {
    font-family: 'icomoon';
    src: url('/flaticons/fonts/icomoon.eot?uvq7w7');
    src: url('/flaticons/onts/icomoon.eot?uvq7w7#iefix') format('embedded-opentype'),
        url('/flaticons/fonts/icomoon.ttf?uvq7w7') format('truetype'),
        url('/flaticons/fonts/icomoon.woff?uvq7w7') format('woff'),
        url('/flaticons/fonts/icomoon.svg?uvq7w7#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bolt:before {
    content: "\e901";
}

.icon-home:before {
    content: "\e900";
}

.icon-exit:before {
    content: "\ea14";
}

.icon-facebook2:before {
    content: "\ea91";
}

.icon-instagram:before {
    content: "\ea92";
}

.icon-spotify:before {
    content: "\ea94";
}

.icon-youtube:before {
    content: "\ea9d";
}

.icon-soundcloud2:before {
    content: "\eac4";
}

.icon {
    text-decoration: none;
    list-style: none;
    color: #ff0000;
}

.icon a {
    text-decoration: none;
    color: #ffa600;
}

.icon a:hover {
    opacity: 1;
    color: #1a1818;
}

/* Ejercicio 1 */

/* Mediante el atributo border-spacing podemos eliminar los bordes
que se generan de manera automatica en una tabla */
.ejercicio1, .ejercicio1 td, .ejercicio1 th {
    border-spacing: 0;
}

.ejercicio1 td, .ejercicio1 th {
    padding: 15px 70px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    margin: 0;
}

.ejercicio1 thead {
    background-color: #000000;
    color: aliceblue;
}

.ejercicio1 tbody tr:nth-child(odd) {
    background-color: #e4e4e4;
}

/* Ejercicio 2 */

.ejercicio2 #round_l {
    border-top-right-radius: 5px;
}
.ejercicio2 #round_r {
    border-top-left-radius: 5px;
}


.ejercicio2, .ejercicio2 td, .ejercicio2 th {
    border-spacing: 0;
}

.ejercicio2 td, .ejercicio2 th{
    padding: 10px 40px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: normal; */
    margin: 0;
}

.ejercicio2 thead {
    background-color: #1eb375;
    color: #ffffff;
}

.ejercicio2 tbody tr:nth-child(even) {
    background-color: #eeeeee;
    color: #1eb375;
    font-weight: bold;
}

.ejercicio2 tfoot {
    background-color: #1eb375;
}

/* Ejercicio 3 */

.ejercicio3 {
    border: 2px solid black;
}
.ejercicio3, .ejercicio3 td, .ejercicio3 th {
    border-spacing: 0;
}

.ejercicio3 td, .ejercicio3 th {
    padding: 15px 70px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: 0;
}

.report{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: left;
    margin-bottom: 40px;
    font-weight: 800;
    color: #373737;
}

.ejercicio3 thead {
    background-color: #555555;
    color: aliceblue;
}
.ejercicio3 tbody tr:nth-child(even) {
    background-color: #eeeeee;
}

.ejercicio3 tbody tr:nth-child(even) th {
    background-color: #1515ca;
    color: whitesmoke;
}

.ejercicio3 tbody tr:nth-child(odd) th {
    background-color: #2727cf;
    color: whitesmoke;
}
.ejercicio3 tbody tr:last-child td{
    text-align: center;
}

.marked {
    background-color: #ffe83a;
    font-weight: bold;
}

/* Ejercicio 4 */

.ejercicio4, .ejercicio3 td, .ejercicio3 th {
    border-spacing: 0;
}

.ejercicio4 td, .ejercicio4 th {
    padding: 15px 70px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
}

.report{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 800;
    color: #373737;
}

.ejercicio4 thead th{
    font-weight: normal;
}

.ejercicio4 tbody th {
    font-weight: bold;
}

.ejercicio4 thead, tbody tr:nth-child(even){
    background-color: white;
}

.ejercicio4 tbody tr:nth-child(odd){
    background-color: whitesmoke;
}

.ejercicio4 a.button {
    background-color: #ccc;
    display: inline-block;
    padding: 16px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

/* Creamos los estados de cada boton */

.ejercicio4 .button.btn--progress {
    background-color: #00b900;
    color: #eeeeee;
}
.ejercicio4 .button.btn--hold {
    background-color: #f51d00;
    color: #eeeeee;
}
.ejercicio4 .button.btn--open {
    background-color: #f5d000;
    color: black;
}

/* Ejercicio 5 */

.ejercicio5 body {
    background-color: #222; /* Fondo oscuro */
}

.ejercicio5 table {
    background-color: #333; /* Color de fondo de la tabla */
}

.ejercicio5 {
    border-spacing: 0 1;
}


.ejercicio5 td, .ejercicio5 th {
    padding: 15px 20px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: 0;
    color: #e4e4e4;
}

.ejercicio5 tbody tr:nth-child(even) {
    background-color: #4a4a4a;
}
.ejercicio5 tbody tr:nth-child(odd) {
    background-color: #4a4a4a;
}

.ejercicio5 tbody tr td {
    color: #c6c6c6;
}

.ejercicio5 tbody td h3 {
    color: #a1a1a1;
} 


/* Creamos la separacion de debajo de las celdas */

.ejercicio5 table {
    width: 100%;
    border-collapse: collapse; /* Evita espacios extra entre bordes */
}

.ejercicio5 tr {
    border-bottom: 8px solid #2a2a2acf; /* Línea sutil debajo de cada fila */
}

.ejercicio5 tr:last-child {
    border-bottom: none; /* Quitar la línea de la última fila */
}

.ejercicio5 td {
    padding: 15px; /* Espaciado interno */
    color: white; /* Color de texto */
}

.ejercicio5 input {
    display: inline-block;
}